{% extends 'blog/layout.html' %}

<!-- {% block extra_head %}
      
       <style>
           .post_photo { max-width: 300px;
                         max-height: 300px;
                        }
       </style>
        {% endblock %}-->

{% block content %} 


<h1>ACE MARLINETECH</h1>

{% for post in post_list %}
    
   
                {{ post.published_date }}
          
            <h1><a href="{% url 'post_detail' pk=post.pk %}">
                {{ post.title }}
                </a>
            </h1>
           
         
             
             {% if post.photo %}
             <img src="{{ post.photo.url }}" class="post_photo" />
             {% endif %}
             
          
                 
       {% endfor %}      
               
  {% endblock  %}
              