

body,html,.row-offcanvas {
/*  height:100%;*/
}

body {
    padding-top: 0px;
}



section {
    padding:6rem 0;
}

  .bg-secondary {
/*  background-color: #2C3E50 !important;*/
   background-color: #EEEBEB !important;  
  
}
  
 .bg-primary {
  background-color: #ffe6ff !important;
   /* nav button background-color*/
}


#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  
 
background-color:;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
   border: 1px solid #eee; 
}


#main {
/*  height:100%;*/
/* overflow:auto;*/

}



/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


.intro{
   padding-top: 50px;
}

/*map*/
.axgmap{
    width: 
        auto;
  height: 420px;
   
  border: solid 1px #ccc;
   
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
/*  background-color: #2C3E50;*/
  color: #000;
}
.copyright {
/*  background-color: #1a252f;*/
    background-color: #eee;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}
